sottoscenario 8 stazione meteo.json
[{"id":"48fb35fd.2becdc","type":"tab","label":"Scenario: Workout","disabled":false,"info":""},{"id":"31b3f9d6.748af6","type":"inject","z":"48fb35fd.2becdc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"request\":\"weather\"}","payloadType":"json","x":180,"y":280,"wires":[["f5a2b094.2ad9e"]]},{"id":"f5a2b094.2ad9e","type":"mqtt out","z":"48fb35fd.2becdc","name":"request weather","topic":"iot_progetto","qos":"0","retain":"false","broker":"f4711c58.f36df","x":400,"y":280,"wires":[]},{"id":"ccc69fd1.7a0a1","type":"switch","z":"48fb35fd.2becdc","name":"check weather","property":"payload.weather","propertyType":"msg","rules":[{"t":"eq","v":"Snowy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":480,"wires":[["9cc59e47.92b81"]]},{"id":"bd507e6a.fb0dc","type":"mqtt in","z":"48fb35fd.2becdc","name":"get weather","topic":"iot_progetto","qos":"0","datatype":"json","broker":"f4711c58.f36df","x":170,"y":480,"wires":[["ccc69fd1.7a0a1","5e491744.bc8c98"]]},{"id":"80212863.326728","type":"mqtt out","z":"48fb35fd.2becdc","name":"tapis roulant","topic":"iot_progetto","qos":"0","retain":"false","broker":"f4711c58.f36df","x":1090,"y":380,"wires":[]},{"id":"9cc59e47.92b81","type":"function","z":"48fb35fd.2becdc","name":"tapis roulant: set speed","func":"msg.payload = {}\nmsg.payload.request = \"speed\";\nmsg.payload.speed = 7;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":360,"wires":[["80212863.326728","671d286f.b18c48"]]},{"id":"671d286f.b18c48","type":"function","z":"48fb35fd.2becdc","name":"tapis roulant: set time","func":"msg.payload = {}\nmsg.payload.request = \"time\";\nmsg.payload.time = 15;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["80212863.326728","8a6aa02d.90cf"]]},{"id":"8a6aa02d.90cf","type":"function","z":"48fb35fd.2becdc","name":"tapis roulant: start signal","func":"msg.payload = {}\nmsg.payload.request = \"start\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":440,"wires":[["80212863.326728","371019b7.98b816"]]},{"id":"f7c9d279.12a4b","type":"mqtt out","z":"48fb35fd.2becdc","name":"notify smartband","topic":"iot_progetto","qos":"0","retain":"false","broker":"f4711c58.f36df","x":1310,"y":420,"wires":[]},{"id":"371019b7.98b816","type":"function","z":"48fb35fd.2becdc","name":"notification","func":"msg.payload = {}\nmsg.payload.state = \"on\"\nmsg.payload.sendMsg = \"true\"\nmsg.payload.atHome = \"true\"\nmsg.payload.messageContent = \"Tapis roulant started!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":420,"wires":[["f7c9d279.12a4b"]]},{"id":"5e491744.bc8c98","type":"debug","z":"48fb35fd.2becdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":560,"wires":[]},{"id":"f4711c58.f36df","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]